<p>
  par-area-list works!
</p>
<div>
      <input id="text" type="text" [(ngModel)]='lastPage' >
</div>
<div>
  <input id="text" type="text" [(ngModel)]='countItems' >
</div>
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
      <tr>
     <th> Number</th>
     <th>Status</th>
     <th>Name </th>
     <th>Facility</th>
     <th>Glcode</th>
     <th>Reference</th>
      </tr>
    </thead>
  <tbody>
            <tr *ngFor="let d of parAreas">
                <td>{{d?.parareaNo}}</td>
                <td>{{d?.activeStatus}}</td>
                <td>{{d?.parareaName}}</td>
                <td>{{d?.facilityName}}</td>
                <td>{{d?.glcode}}</td>
                <td><div>{{d?.reference}}</div></td>
        </tr>
    </tbody>
</table> 

<ul class="pagination btnround">
    <li><a href="#" (click)="PreviousPage()">«</a></li>
     <li><a href="#" id="first" class="active" (click)="loadParAreasPages(currentPage)">{{currentPage}}</a></li>
     <li><a id="second" (click)="loadParAreasPages(currentPage+1)" href="#" style="border:none !important;border-radius:5px;">{{currentPage+1}}</a></li>
     <li><a href="#" id="third" (click)="loadParAreasPages(currentPage+2)">{{currentPage+2}}</a></li>
     <li><a href="#" (click)="NextPage()">»</a></li>
   </ul>
   