table{
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
	font-size:1em;
	font-family: 'Handlee', cursive;
    table-layout: fixed;
    width: 80%;
}
th, td{
	border: 1px solid #004d80;
    text-align: center;
    overflow: auto;
	width: 100px;
/*	height: 100px;*/
}
.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.pagination{
    display: inline-block;
    padding: 0;
    margin: 8px 0;
}
.btnround {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
ul{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.pagination li {
    display: inline;
}
.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
a {
    color: inherit;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.container {
    max-width: 400px;
}

.search-bar {
    display: flex;
    margin: 16px 0;
}

.search-bar input {
    flex: 1;
    line-height: 36px;
}

.search-bar select {
    line-height: 36px;
}

.pony {
    background-color: lightgray;
    padding: 8px;
}

.pony.available {
    background-color: lightseagreen;
}